<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>

    <!-- Display the list of Mountains -->
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Prefecture</th>
                <!-- <th>Has Tent Site</th> -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="mountain : ${mountains}">
                <td th:text="${mountain.name}"></td>
                <td th:text="${mountain.prefecture}"></td>
                <!-- <td th:text="${mountain.hasTentSite}"></td> -->
            </tr>
        </tbody>
    </table>
    <body>
        <form action="#" th:action="@{/search}" method="get">
            <label for="height">Choose height:</label>
            <select id="height" name="height">
                <option value="3000">higher than 3000</option>
                <option value="2000">higher than 2000</option>
                <option value="1000">higher than 1000</option>
                <option value="1">lower than 999</option>
            </select>
            java presenter?=> weather
            <label for="far">Choose far:</label>
            <select id="far" name="far">
                <option value="3000">higher than 3000</option>
                <option value="2000">higher than 2000</option>
                <option value="1000">higher than 1000</option>
                <option value="1">lower than 999</option>
            </select>
            <input type="submit" value="Submit">
            weather
            far from waterfront
            high?

        </form>
    </body>
</body>
</html>
