<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>

    <!-- Display the list of Mountains -->
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Prefecture</th>
                <!-- <th>Has Tent Site</th> -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="mountain : ${mountains}">
                <td th:text="${mountain.name}"></td>
                <td th:text="${mountain.prefecture}"></td>
                <!-- <td th:text="${mountain.hasTentSite}"></td> -->
            </tr>
        </tbody>
    </table>
    <body>
        <form action="#" th:action="@{/submitForm}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</body>
</html>
